Observe notification Acknowledge should not include token.

When Copper receive a non-confirmable observe notification from the server , it does return an empty acknowledge message that contain the token of the original request.
An empty message should not contain a token.

From RFC7252 section 1.2-->

Empty Message
      A message with a Code of 0.00; neither a request nor a response.
      An Empty message only contains the 4-byte header.

Also in section 2.2 of the RFC, in the Request/Response examples, the empty acknowledge messages only contain the message id, no token.

here is the current behavior-->

![image](https://user-images.githubusercontent.com/4030855/28186171-2372a504-67e8-11e7-868d-cb0f0424f08e.png)


Just wanted to fix it, but does not occur in the latest version.